/mods/*.jar
/saves/
options.txt
/logs
/xaero
/local
usercache.json
usernamecache.json
logs/debug.log
logs/latest.log
/XaeroWaypoints_*
/screenshots
command_history.txt
config/jei/world/local/
config/packetfixer.properties
config/xaerominimap_entities.json
config/jei/ingredient-list-mod-sort-order.ini
fancymenu_data/last_world.fmdata
config/litematica/litematica_*
ftbbackups3/
.probe
spark-modernfix/tmp
.vscode/
kubejs/config/probe-settings.json
kubejs/*/jsconfig.json
config/fabric/indigo-renderer.properties
